# Archivos de entorno (contienen contraseñas)
.env

# Dependencias
node_modules/

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store  (Mac)
Thumbs.db  (Windows)

.env
